* {
    margin: 0;
    padding: 0;
    border: 0;
}
html,body{
    height: 100%;
    width:  100%;
}
a{
    width: 100%;
    min-width: 100%;
}
.flexbox-container{
    display: flex;
    align-items: stretch;
}
.flexbox-item{
    height: 10%;
    min-height: 50px;
    background-color:rgb(17, 16, 16);
    color: aliceblue;
    background-repeat: no-repeat;
    background-position: center;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(44, 45, 47);
}
.home{
    width: 25%;
    background-image: url(/Sources/Images/PentaMento.png);
}
.about-me{
    width: 12.5%;
    background-image: url(/Sources/Images/AboutMeButtonArt.png);
}
.project-1{
    width: 12.5%;
    background-image: url(/Sources/Images/MicButtonArt.png);
}
.project-2{
    width: 12.5%;
    background-image: url(/Sources/Images/FireButtonArt.png);
}
.project-3{
    width: 12.5%;
    background-image: url(/Sources/Images/BookButtonArt.png);
}
.project-4{
    width: 12.5%;
    background-image: url(/Sources/Images/CelesteButtonArt.png);
}
.project-5{
    width: 12.5%;
    background-image: url(/Sources/Images/GameConceptButtonArt.png);
}
.about-me:hover{
    background-image: url(/Sources/Images/AboutMeButtonAnim.gif);
}
.project-1:hover{
    background-image: url(/Sources/Images/MicButtonAnim.gif);
}
.project-2:hover{
    background-image: url(/Sources/Images/FireButtonAnim.gif);
}
.project-3:hover{
    background-image: url(/Sources/Images/BookButtonAnim.gif);
}
.project-4:hover{
    background-image: url(/Sources/Images/CelesteButtonAnim.gif);
}
.project-5:hover{
    background-image: url(/Sources/Images/GameConceptButtonAnim.gif);
}