* {
    margin: 0;
    padding: 0;
    border: 0;
}
html,body{
    height: 100%;
    width:  100%;
}
a{
    width: 100%;
    min-width: 100%;
}
.flexbox-container{
    display: flex;
    align-items: stretch;
}
.flexbox-item{
    height: 10%;
    min-height: 50px;
    background-color:rgb(17, 16, 16);
    color: aliceblue;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(44, 45, 47);
}
.home{
    width: 25%;
}
.about-me{
    width: 12.5%;
}
.project-1{
    width: 12.5%;
}
.project-2{
    width: 12.5%;
}
.project-3{
    width: 12.5%;
}
.project-4{
    width: 12.5%;
}
.project-5{
    width: 12.5%;
}
.VA-logo:hover{
    content: url("/Sources/Images/MicButtonAnim.gif");
}
.VFX-logo:hover{
    content: url("/Sources/Images/FireButtonAnim.gif");
}
.Writing-logo:hover{
    content: url("/Sources/Images/BookButtonAnim.gif");
}
.MediaTour-logo:hover{
    content: url("/Sources/Images/CelesteButtonAnim.gif");
}
.GC-logo:hover{
    content: url("/Sources/Images/GameConceptButtonAnim.gif");
}
.AM-logo:hover{
    content: url("/Sources/Images/AboutMeButtonAnim.gif");
}